<nav>
    <div>
        <div>
            <ul style="list-style: none; display: flex;">
                <li style="margin-right: 15px;">
                    <a aria-current="page" routerLink="/add-team" routerLinkActive="active">Add team</a>
                </li>
                <li style="margin-right: 15px;">
                    <a aria-current="page" routerLink="/show-teams" routerLinkActive="active">
                        Show teams</a>
                </li>
                <li>
                    <a routerLink="/show-my-teams">Show my teams</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
